* {
    margin: 0;
    padding: 0;
   
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #a9b468;
}

.posicao-relogio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    
}

.relogio {
    display: flex;
    justify-content: space-around;
    width: 34.375rem;
    height: 12.5rem;
    background: #111111;
    border-radius: .1875rem;
    box-shadow: 0px 8px 10px #000000;
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: #1b1b1b;
    letter-spacing: 5px;
    border-radius: 3px;
    margin-top: 1em;
}

.relogio span {
    font-size: 60px;
}

.relogio span#tempo {
    font-size: 15px;
}

.posicao-calendario {
    display: flex;
    justify-content: center;
    width: 100%;
}

.calendario {
    display: flex;
    justify-content: space-around;
    width: 34.375rem;
    height: 5.50rem;
    background: #111111;
    border-radius: .1875rem;
    box-shadow: 0px 8px 10px #000000;
}

.calendario div {
    width: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: #1b1b1b;
    letter-spacing: 5px;
    border-radius: 3px;
    margin: 1em 0;
}

.calendario span {
    font-size: 1.50rem;
    color: #ffc0c0;
}

.calendario span#data {
    font-size: .9375rem;
}


